/* login form class */
.loginForm {
	width: 489px;
	height: 50vh;
	padding: 15px;
	background: rgba(255, 255, 255, 0.6);
	border-radius: 30px;
}

.formInputs {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 10px;
}
