.background {
	background: #333;
	background-image: url('../../../public/Finance\ analytics\ _Isometric\ 1.svg');
	background-position: bottom right;
	background-repeat: no-repeat;
}

.alignCenter {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
