.container {
	margin-bottom: 10px;
	transition: margin-left 0.3s;
}

.containerMenuActive {
	margin-left: 0;
}

.containerMenuInactive {
	margin-left: 195px;
}

.containerMenuActive:hover {
	background: linear-gradient(
		90deg,
		rgba(255, 192, 0, 1) 0%,
		rgba(255, 192, 0, 0.5052) 50%,
		rgba(255, 192, 0, 0.5052) 50%,
		rgba(255, 192, 0, 0) 100%
	);
}

.containerMenuInactive a:hover {
	color: rgba(255, 192, 0, 1);
}

.container a {
	color: #fff;
	text-decoration: none;
	padding: 10px 20px;
	display: block;
	margin-left: 0;
}

.text {
	margin-left: 15px;
	font-size: 1rem;
	transition: display 0.3s ease-out;
	display: none;
}

.textMenuActive {
	display: inline;
}

.textMenuInactive {
	display: none;
}
