/* Styles for side menu */
.containerLogoMenuActive {
	margin-left: 104px;
	cursor: pointer;
}

.containerLogoMenuInActive {
	margin-left: 202px;
	cursor: pointer;
}

.containerLogo {
	transition: margin-left 0.3s;
}

.sideMenu {
	width: 250px;
	height: 100vh;
	position: fixed;
	top: 0;
	left: -200px;
	background-color: #333;
	padding-top: 40px;
	transition: left 0.3s;
}

.menuLinks {
	list-style: none;
	padding: 0;
}

.menuLinks li {
	margin-bottom: 10px;
}

.menuLinks a {
	color: white;
	text-decoration: none;
	padding: 10px 20px;
	display: block;
}

.closeBtn {
	color: white;
	font-size: 24px;
	text-decoration: none;
}

.sideMenuActive {
	left: 0;
}
