.button {
	width: 252px;
	height: 37px;
	border-radius: var(--regular-radius);
	border: none;
	font-size: var(--regular-font-size);
	font-weight: 700;
	cursor: pointer;
}

.button:hover {
	transition: all 0.3s ease-in-out;
}

.colorPrimary {
	color: #fff;
	background: var(--primary-color);
}

.colorPrimary:hover {
	background: var(--primary-hover-color);
}

.colorSecondary {
	color: #fff;
	background: var(--secondary-color);
}

.colorSecondary:hover {
	background: var(--secondary-hover-color);
}
