.button {
	width: 252px;
	height: 37px;
	border-radius: 4px;
	border: none;
	font-size: var(--regular-font-size);
	font-weight: 700;
	cursor: pointer;
}

.button:hover {
	transition: all 0.3s ease-in-out;
	background: var(--primary-hover-color);
}

.colorPrimary {
	color: #fff;
	background: var(--primary-color);
}
