.skeleton {
	background-color: #f0f0f0;
	border-radius: var(--regular-radius);
	padding: calc(var(--base-spacing) * 2);
	width: 100%;
}

.skeletonHeadLine {
	background-color: #c5c4c4;
	height: calc(var(--base-spacing) * 3);
	margin-bottom: var(--base-spacing);
	width: 100%;
	border-radius: var(--regular-radius);
	opacity: 0;
	animation: fadeIn 2s ease-in-out infinite;
}

.skeletonLine {
	background-color: #ddd;
	height: calc(var(--base-spacing) * 2);
	margin-bottom: var(--base-spacing);
	width: 100%;
	border-radius: var(--regular-radius);
	opacity: 0;
	animation: fadeIn 2s ease-in infinite;
}

@keyframes fadeIn {
	0%,
	100% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
}
