.container {
	width: 252px;
	margin-bottom: 16px;
}

.containerFullWidth {
	width: 100%;
	margin-bottom: 16px;
}

.inputContainer {
	border-bottom: 0.1px solid rgba(255, 255, 255, 1);

	/* icon */
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #fff;
}

.input {
	width: 100%;
	height: 35px;
	border: none;
	outline: none;
	background: none;
	color: #fff;
	font-size: 13.5px;
	font-weight: 300;
}

.input::placeholder {
	color: #fff;
}

.error {
	color: #ff0000;
	font-size: 1.2rem;
}
