.container {
	width: 252px;
	margin-bottom: 16px;
}

.containerFullWidth {
	width: 100%;
	margin-bottom: 16px;
}

.inputContainer {
	border-bottom: 0.1px solid rgba(255, 255, 255, 1);

	/* icon */
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #fff;
}

.input {
	width: 100%;
	height: 35px;
	border: none;
	outline: none;
	background: none;
	color: #fff;
	font-size: var(--regular-font-size);
	font-weight: 300;
}

.input::placeholder {
	color: #fff;
}

/* Change the white to any color */
.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
	border-radius: 4px;
	margin-right: 5px;
	margin-bottom: 2px;
	padding-left: 5px;
}

.errorMessage {
	color: #ff0000;
	font-size: var(--regular-font-size);
}
